body {
    background-color: rgba(255, 225, 0, 0.707);
}

.heading {
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 1rem 0.5rem;
    color: yellow;
    
}

.img-minion {
    padding: 2rem;
    max-width: 500px;
    height: 200px;
    display: block;
    margin: auto;
}

.input-box {
    border: 2px solid blue;
    background-color: #FFFBEB;
    height: 10vh;
    width: 50%;
    margin: 0px auto;
    display: block;

}

.click-button {
    color: yellow;
    display: block;
    background-color: black;
    padding: 0.5rem 1.5rem;
    border: none;
    font-size: 1.3rem;
    margin: 2rem auto;
    cursor: pointer;
}

.output-heading {
    text-align: center;
    color: black;
    display: block;
    font-size: xx-small;
    margin: 1rem auto;
    font-weight: 900;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.output-box {
    background-color: #FFFBEB;
    border: 2px solid blue;
    height: 10vh;
    width: 50%;
    margin: 2px auto;
    display: block;
}


.about
{
    margin-top: 20px;
    border: 2px solid black;
    font-weight: bolder;
    color: yellow;
    background-color: black;
    text-align: center;
}

.footer-header
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
    font-style: unset;
}

.link
{
    display: inline;
    color: black;
    font-weight: bolder;
}