body {
    background-color: rgba(255, 225, 0, 0.707);
}

.heading {
    background-color: black;
    padding-left: 40rem;
    margin: auto;
    align-content: center;
}


.heading-title {
    color: yellow;
    display: block;
    background-color: black;
    font-size: 3rem;
    cursor: pointer;

}

.img-minion {
    padding-bottom: 2rem;
    max-width: 500px;
    height: 400px;
    display: block;
    margin: auto;
}

.text-input {
    border: 2px solid blue;
    background-color: #FFFBEB;
    height: 10vh;
    width: 50%;
    margin: 0px auto;
    display: block;

}

.click-button {
    color: yellow;
    display: block;
    background-color: black;
    padding: 0.5rem 1.5rem;
    border: none;
    font-size: 1.3rem;
    margin: 2rem auto;
    cursor: pointer;
}

.output-heading {
    align-content: center;
    font-size: xx-small;
    margin: auto;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    padding-left: 40rem;
}


.output-box {
    background-color: #FFFBEB;
    border: 2px solid blue;
    height: 10vh;
    width: 50%;
    margin: 2px auto;
    display: block;
}